# Configurações do CoffeeYrd
PORT=8082
DATABASE_URL=data/coffee.db
STATIC_DIR=../frontend/dist
RUST_LOG=backend=info,tower_http=info
RETENTION_DAYS=60

# Umami Analytics (Opcional & Focado em Privacidade)
# UMAMI_SCRIPT_URL=https://analytics.yared.com.br/script.js
# UMAMI_WEBSITE_ID=

